.heading {
    text-align: center;
}

.btn-group.main{
  display: flex;
  flex-direction: column;
  margin-top: auto;

}

.heading {
    text-align: center;
}

.btn-group.main{
  display: flex;
  flex-direction: column;
  margin-top: auto;

}

.btn.btn-success.col-12.mx-auto{
    margin: 5px;
}
.btn.btn-warning.col-12.mx-auto{
    margin: 5px;
}
.btn.btn-danger.col-12.mx-auto{
    margin: 5px;
}


.date {
    margin-top: 5px;
    text-align: center;
    font-size: 1.2em;
}

.card img{
    max-block-size: 15rem;
}

.card-title {
    display:inline-block;
}

.cardBtn {
    float: right;
    
}

.card-body {
    padding: 3px;
    margin: 3px;
    
}

.newCard {
    border: none;
}

.listCard{
    margin-bottom: 5px;
    
    
}



